.menubar {
  margin-right: 50px !important;
}
.menu {
  margin-left: 8px !important;
}
.MuiGrid-spacing-xs-1 {
  margin: 0;
  max-width: 99.1vw;
}
.MuiSvgIcon-fontSizeSmall {
  font-size: 2.25rem !important;
}
.hamBurgerMenu {
  margin-top: 0.5rem;
  height: 50px !important;
  width: 50px !important;
  background-color: rgb(255 255 255) !important;
  border: 1px solid #dedbdb !important;
  border-radius: 10px !important;
}
.hamBurgerMenu div {
  background-color: grey !important;
}
.showMenuItems {
  background-color: rgb(255 255 255) !important;
  color: black !important;
  box-shadow: 3px 3px 13px grey !important;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}
.menuItems {
  margin-top: 0.6rem !important;
  width: 97vw !important;
  height: 70vh !important;
  font-size: 1.2rem !important;
  margin-right: 0 !important;
  right: 0 !important;
  margin-left: 0 !important;
  padding-left: 1rem;
}

.mob-nav {
  position: fixed;
  z-index: 1;
  display: grid;
  grid-template-columns: 18% 67% auto;
  width: 100%;
  height: 4.5rem;
  background-color: white;
  box-shadow: 2px 2px 12px #b8b8bd;
  padding: 0.3rem 0.8rem 0 0.8rem;
}
.mob-nav img {
  padding-top: 0.3rem;
  width: 3rem;
  height: 3.5rem;
}
.search-cont {
  width: 95%;
}
.search {
  height: 2.5rem;
  margin-top: 0.4rem !important;
  display: flex;
  background-color: white;
  border-radius: 10px;
}

.desktop {
  margin-top: 0;
  border: 1px solid grey;
}

.mega-menu {
  text-align: center !important;
  margin: auto !important;
  margin-left: 15% !important;
  width: 80%;
  height: 3rem;
  background-color: none !important;
  color: black !important;
  font-size: 1.1rem !important;
}
.pop {
  display: flex;
}
.popover {
  top: 80px !important;
  margin-top: 2rem !important;
  width: 70vw;
  height: 80vh;
  left: 0 !important;
  margin: 0 10% !important;
  box-shadow: 2px 2px 7px #b8b8bd;
}
.rs-popover.placement-bottom > .rs-popover-arrow,
.rs-popover.placement-top > .rs-popover-arrow {
  left: 18% !important;
}
.pop-cont {
  width: 30vw;
  display: flex;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: space-between;
  font-size: 1rem !important;
  font-weight: bold !important;
  height: 3rem;
  cursor: pointer !important;
  color: grey !important;
}
.pop-cont:hover {
  background-color: rgb(230, 229, 229);
  border-radius: 10px;
}
.pop-main {
  height: 77vh !important;
  overflow: auto !important;
}
/* CARD... */

.cardmain {
  width: 90%;
  padding-bottom: 1rem;
  min-height: 1vh;
  background-color: white;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 10px;
  margin: auto;
  margin-top: 1rem;
  box-shadow: 5px 5px 10px rgb(209, 209, 209);
}
.cardmain img {
  width: 100%;
  height: 10rem;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.cardtittle {
  font-size: 23px;
  font-weight: 900;
  color: black;
  width: 100%;
  padding: 10px 1rem;
}
.card-author {
  color: gray;
  font-size: 18px;
  padding: 0px 1rem;
}
.star-value {
  padding: 2rem 1rem 0 1rem;
  display: flex;
}
.star-value div {
  margin-left: 1rem;
  font-weight: 900;
  font-size: 15px;
}
.number-of-joined {
  padding: 10px 1rem;
  font-weight: 900;
}
.card-buttom {
  display: flex;
  justify-content: space-around;
}
.card-buttom Button:hover {
  background-color: #b83b5e;
}
.card-buttom Button {
  background-color: #b83b5e;
  border-radius: 20px;
  border: 1px solid #b8b8bd;
  color: white !important;
  margin: 10px 0rem;
  width: 9rem;
}
.more-details Button {
  color: black !important;
  background-color: #f8dfe6 !important;
}

/* home */

.background img {
  width: 98.8vw;
  opacity: 1;

  position: absolute;
}
.overall {
  position: relative;
  text-align: left;
  margin-left: 4rem;
  height: 30rem;
  opacity: 1 !important;
}
.textcontect {
  height: 18rem;
  padding-top: 4rem;
  font-size: 60px;
  font-weight: bold;
  width: 80%;
  color: black;
}
/* #B83B5E */
.textcontect span {
  color: #9900aa;
}
.bookBtn {
  background-color: #b83b5e !important;
  color: white !important;
  border-radius: 80px !important;
  width: 22rem;
  height: 4rem;
  font-size: 22px !important;
  padding: 0 3% !important;
}

.subtittle {
  padding-top: 32vh;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: black;
}
.subtittle span {
  color: #9900aa;
}
.textopacity {
  font-size: 18px;
  color: gray;
}
.MuiTabs-indicator {
  background: none !important;
}
.logos img {
  zoom: 0.3;
  width: 30rem;
  height: 27rem;
  margin-left: 2rem;
  margin-right: 2rem;
  border: none !important;
}
.logos2 img {
  zoom: 0.3;
  width: 30rem;
  height: 27rem;
  margin-left: 2rem;
  margin-right: 2rem;
  border: none !important;
}
.logoscroll {
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 3rem;
  width: 58vw;
}
.curve-mid {
  width: 100%;
  height: 90rem;
  position: absolute;
  z-index: 0;
}
.features {
  margin-top: 1rem;
}
.course-card-main {
  margin: 0 6%;
}
.join-text {
  font-size: 30px;
  font-weight: 900;
  color: #9900aa;
  text-align: center;
  margin-top: 100vh;
  margin-bottom: 1rem;
}
.texttittle {
  font-size: 30px;
  font-weight: 900;
  color: #9900aa;
  text-align: center;
}

.texttittle1 {
  position: relative;
  font-size: 40px;
  padding-top: 6rem;
  font-weight: 900;
  color: #9900aa;
  text-align: center;
}
.textquestion {
  font-size: 30px;
  font-weight: 900;
  color: #b83b5e;
  text-align: center;
  margin-top: 2rem;
  padding: 0 5%;
}
.textopacityalign {
  position: relative;
  color: gray;
  font-size: 20px;
  text-align: center;
}
.icons {
  margin-top: 2rem;
  position: relative;
  text-align: center;
  padding: 0 6%;
}
.icons img {
  zoom: 0.2;
  margin-top: 2rem;
}
.benefit img {
  width: 70%;
  height: 75rem;
}
.textalign {
  color: gray !important;
  font-size: 23px;
  padding: 0 15%;
  margin: auto;
}

.textalign1 {
  color: gray !important;
  width: 10rem;
  position: relative;
  margin: auto;
}
.textalign div {
  color: rgb(58, 57, 57) !important;
}
.livetittle {
  position: relative;
  color: #908d8e;
  text-align: center;
  font-size: 25px;
}
.circleflex {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
}
.circleflex .circle {
  margin: 0 1rem;
}
.circle img {
  border: 1px solid #fbfbfb;
  box-shadow: 30px 24px 60px #9a9292;
  opacity: 0.9;
  width: 50rem;
  height: 45rem;
  border-radius: 50%;
}
.text-help {
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  color: black;
  position: relative;
  margin-top: 3rem;
}
.text-help span {
  color: #aa004f;
}
.logoscroll2 {
  background: none;
  margin: auto;
  width: 58vw;
  margin-top: 1rem;
  margin-bottom: 5rem;
}
.chatcard {
  display: flex !important;
}
.chatcard img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}
.message {
  background-color: white;
  box-shadow: 0px 10px 20px rgb(202, 202, 202);
  width: 30rem;
  border-radius: 8px;
  height: 13rem !important;
  padding: 1rem;
  margin-left: 2rem;
}
.massegebox {
  height: 10rem !important;
  overflow: auto;
}
.colorname {
  color: #9900aa;
  text-align: center;
  font-size: 20px;
}
.thankstittle {
  font-size: 45px;
  font-weight: 900;
  color: #9900aa;
  text-align: center;
  margin-top: 2rem;
}
.bottomimg {
  width: 98.85vw;
  height: 30vh;
}
.bottomtab {
  background-color: #fbf6fc;
  margin-top: 5rem;
  padding: 1rem 3%;
}
.gridalign {
  margin: 0rem;
}
.gridalign div {
  padding: 0 0 1rem 0;
  cursor: pointer;
}
.bottomtabtittles {
  font-size: 18px;
  font-weight: 900;
  margin-top: 1rem;
  padding-bottom: 1rem;
}
.mailinput input {
  background-color: rgb(241, 241, 241);
  outline: none !important;
  border: none !important;
  height: 3rem;
  text-align: center;
  width: 16vw;
}
.mailinput Button {
  background-color: #aa004f;
  width: 16vw;
  margin-top: 1rem;
  color: white;
}
.mailinput Button:hover {
  background-color: #aa004f;
  color: white;
}
.connectlogo {
  zoom: 1.2;
}
.imagecertificate {
  text-align: center;
}
.imagecertificate img {
  width: 50vw;
  border: 1px solid rgb(209, 209, 209);
  box-shadow: 10px 10px 10px rgb(179, 179, 179);
}
.maeg {
  text-align: center !important;
  padding-top: 0.7rem;
  margin-left: 2rem;
  margin-top: 0.2rem;
  font-size: 1.2rem !important;
  cursor: pointer;
  background-color: none !important;
  border: none !important;
  margin-left: 1rem !important;
}
.maeg:hover {
  color: black !important;
  border: none !important;
  text-decoration: none !important;
}
.join {
  margin-top: 0.4rem !important;
  width: 9rem;
  font-size: 1.2rem !important;
  cursor: pointer;
  background-color: none !important;
  border: none !important;
  border: none !important;
  height: 2.3rem !important;
}
.login {
  margin-right: 1rem !important;
  height: 2.3rem !important;
  margin-top: 0.4rem !important;
  font-size: 1.1rem;
  background-color: #b83b5e !important;
  color: white !important;
  border-radius: 80px !important;
  width: 9rem;
}
.curve-overall {
  height: 51rem;
}
.chats-cont {
  padding: 0 7rem;
}
.chart-sub-cont {
  display: flex;
  margin-top: 2rem;
}
.chart-sub-cont1 {
  margin-left: 2rem;
}
.chart-sub-cont2 {
  margin-left: 2rem;
}
.massegebox1 {
  margin-right: 1rem;
}
.msg-mob {
  display: none;
}
.logo-img {
  height: 20vh;
}

@media only screen and (max-width: 600px) {
  .logo-img {
    height: 0;
  }
  .chatcard {
    display: none !important;
    background-color: white !important;
    width: 90vw;
    border-radius: 20px !important;
    padding-left: 2px !important;
    box-shadow: 2px 2px 10px grey !important;
  }
  .msg-mob {
    display: block;
    width: 5rem;
    height: 5rem;
    text-align: center;
    margin: auto;
    border: 2px solid #9900aa;
    border-radius: 50%;
  }
  .msg-mob img {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    padding: 0.2rem;
  }
  .overall {
    text-align: center !important;
    height: 10rem;
    float: none;
    width: 100%;
    margin-left: 0 !important;
  }
  .textcontect {
    height: 10rem;
    font-size: 22px;
    margin: auto;
  }
  .main-bookBtn{
    margin: auto;
  }
  .bookBtn {
    border-radius: 80px !important;
    width: 14rem;
    height: 2.5rem;
    font-size: 17px !important;
    margin: auto;
  }
  .curve {
    margin-top: 0rem;
    width: 100vw;
  }
  .subtittle {
    font-size: 25px;
  }
  .textopacity {
    font-size: 18px;
    padding: 1rem 7%;
  }
  .texttittle {
    font-size: 25px;
    padding: 0 8%;
  }
  .textopacityalign {
    padding: 1rem 8%;
  }
  .circleflex {
    flex-direction: column;
    align-items: center;
  }
  .circle img {
    margin-left: 0;
    margin-bottom: 1rem;
  }
  .text-help {
    font-size: 25px;
    padding: 0 8%;
  }
  .curve-overall {
    height: 118rem;
  }
  .chats-cont {
    padding: 0 1rem;
  }
  .massegebox {
    overflow: auto;
    margin-left: 1rem;
    margin-top: 1rem;
  }
  .chatcard img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
  }
  .massegebox1 {
    margin-right: 0rem;
  }
  .chart-sub-cont{
    width: 92vw;
  }
  .chart-sub-cont1 {
    margin-left: 0rem;
  }
  .chart-sub-cont2 {
    margin-left: 0rem;
  }
  .background {
    padding-top: 5rem;
  }
  .background img {
    width: 100vw;
    height: 23rem;
  }
  .thankstittle {
    font-size: 30px;
    margin-bottom: 1rem;
  }
  .imagecertificate img {
    width: 90vw;
  }
  .gridalign {
    margin: 0rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
  }
  .mailinput input{
    width: 50vw;
  }
  .mailinput Button {
    width: 50vw;
  }
  .gridalign div {
    padding-bottom: 1rem;
  }
  .MuiTabs-scrollButtonsDesktop {
    display: block !important;
  }
  .bottomimg {
    width: 100vw;
    height: 18vh;
  }
  .bottomtab {
    background-color: #fbf6fc;
    margin-top: 10rem;
    width: 100vw;
    padding-top: 5rem;
  }
  .cardmain {
    width: 96%;
    min-height: 5vh;
    margin-left: 0.9rem;
  }
  .logoscroll2 {
    width: 90vw;
    margin-top: 1rem;
    margin-bottom: 5rem;
    background: none;
    margin: auto;
  }
  .logos img {
    width: 30rem;
    height: 35rem;
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .logos2 img {
    width: 20.5rem;
    margin-left: 0rem;
    margin-right: 1rem;
  }
  .MuiTabScrollButton-root {
    margin: auto !important;
  }
  .curve-mid {
    display: none;
  }
  .texttittle1 {
    padding-top: 1rem !important;
  }
  .join-text {
    margin-top: 135vh;
  }
  .message {
    height: 20rem !important;
    margin-left: 0 !important;
  }
  .course-card-main {
    margin: 0;
  }
  .card-buttom {
    margin: auto;
    align-items: center;
  }
  .logoscroll {
    width: 90vw;
    margin-bottom: 0;
    margin-top: 0;
  }
  .search {
    height: 3.2rem;
  }
  .MuiTabScrollButton-root {
    background-color: #ffffff !important;
    padding-left: 0.1rem !important;
    border-radius: 40px !important;
    box-shadow: 2px 2px 7px #666565 !important;
  }
}
