.menubar {
  margin-right: 50px !important;
}
.hamBurgerMenu {
  margin-top: 0.5rem;
  height: 50px !important;
  width: 50px !important;
}
.menuItems {
  margin-top: 0.6rem !important;
  width: 100vw !important;
  height: 70vh !important;
  font-size: 1.2rem !important;
  margin-right: 0 !important;
  right: 0 !important;
  margin-left: 0 !important;
  padding-left: 1rem;
}

.mob-nav {
  display: grid;
  grid-template-columns: 18% 67% auto;
  width: 100%;
  height: 4.5rem;
  background-color: brown;
  padding: 0.3rem 0.8rem 0 0.8rem;
}
.mob-nav img {
  padding-top: 0.3rem;
  width: 3rem;
  height: 3.5rem;
}
.search-cont {
  width: 95%;
}
.search {
  margin-top: 0.5rem;
  display: flex;
  background-color: white;
  border-radius: 10px;
}

.desktop {
  margin-top: 0;
  border: 1px solid grey;
}

.mega-menu {
  text-align: center !important;
  margin: auto !important;
  margin-left: 5% !important;
  width: 90%;
  height: 3rem;
  background-color: blueviolet !important;
  color: white !important;
  font-size: 1.2rem !important;
  font-weight: bold !important;
}
.popover {
  top: 70px !important;
  margin-top: 2rem !important;
  width: 96vw;
  height: 85vh;
  left: 0 !important;
  margin: 0 2rem !important;
}
.rs-popover.placement-bottom > .rs-popover-arrow,
.rs-popover.placement-top > .rs-popover-arrow {
  left: 40% !important;
}
.pop-cont {
  font-size: 1rem !important;
  font-weight: bold !important;
  height: 4rem;
  cursor: pointer !important;
  color: grey !important;
}
.pop-cont:hover {
  background-color: rgb(207, 204, 204);
}
.pop-main {
  height: 83vh !important;
  overflow: auto !important;
}

/* home */

.background {
  max-width: 100vw;
}
.background img {
  width: 100vw;
  height: 50rem;
  opacity: 0.4;
}
.overall {
  position: relative;
  text-align: left;
  margin-left: 5rem;
  opacity: 1 !important;
}
.textcontect {
  height: 20rem;
  padding-top: 4rem;
  font-size: 60px;
  font-weight: bold;
  width: 80%;
  color: black;
}
/* #B83B5E */
.textcontect span {
  color: #9900aa;
}
.bookBtn {
  background-color: brown !important;
  color: white !important;
  border-radius: 80px !important;
  width: 17rem;
  height: 4rem;
  font-size: 25px !important;
}
.curve {
  margin-top: 0rem;
  position: absolute;
  width: 100vw;
  opacity: 0.4;
  height: 50px;
  background: linear-gradient(#e9e0eb, #c9a4cc);
  background-color: #9900aa;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.subtittle {
  padding-top: 4rem;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: black;
}
.subtittle span {
  color: #9900aa;
}
.textopacity {
  font-size: 18px;
  color: gray;
}
.PrivateTabIndicator-colorPrimary-6 {
  background: none !important;
}
.logos img {
  zoom: 0.3;
  width: 20rem;
  margin-left: 7rem;
  margin-right: 7rem;
  border: none !important;
}
.logoscroll {
  margin: auto;
  width: 58vw;
}
.curvetop {
  margin-top: 0rem;
  position: absolute;
  width: 100vw;
  height: auto;
  background: linear-gradient(
    #f1d7f3,
    #f2e9f3,
    #ffffff,
    #ffffff,
    #f2e9f3,
    #f1d7f3
  );
  background-color: #9900aa;
  margin-bottom: 2rem;
  border-radius: 50%;
}
.texttittle {
  font-size: 30px;
  font-weight: 900;
  color: #9900aa;
  text-align: center;
  margin-top: 2rem;
}
.textopacityalign {
  color: gray;
  text-align: center;
}
.icons {
  text-align: center;
}
.icons img {
  zoom: 0.2;
  margin-top: 2rem;
}
.textalign {
  color: gray !important;
  width: 10rem;
  margin: auto;
}
.textalign div {
  color: rgb(58, 57, 57) !important;
}
.livetittle {
  color: #aa004f;
  text-align: center;
  font-size: 20px;
}
.circleflex {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
}
.circle {
  margin-left: 1rem;
  background-color: #9900aa;
  opacity: 0.3;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}
.text-help {
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  color: black;
  margin-top: 3rem;
}
.text-help span {
  color: #aa004f;
}
.logoscroll2 {
  background: none;
  margin: auto;
  width: 58vw;
  margin-top: 1rem;
  margin-bottom: 5rem;
}
